
/* FONTS: */

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-variant: small-caps;
    color:red;
    background-color: white;
}


/* AREAS OF THE PAGE */

body{
    background-color: blue;
}

.wrap{
    background-color: aqua;
}




/* BUTTONS */

a{
    border: 5px;
    border-color: black;
    border-style: solid;

    margin:20px
}


#link1{
    border-color:pink;
    border-style:dashed
}


/* Buttons */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px dotted #212020;
    background-color: #0c0255;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(191, 31, 31);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 14px 135px;
    text-decoration: none;
  }

li.active {
    background-color: #3f22a8;
}

li a:hover:not(.active) {
    background-color: rgb(150, 217, 50); 
}


