
/* FONTS: */

h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    color:rgb(51, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}




body{
    background-color: #AA4A44;
    margin: auto;
    max-width: 600px;
    text-align: center;
 }



.chart{
    background-color: white;
    width:500px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}


/* Hyperlinks */
a:link {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #379683;
  background-color: transparent;
  text-decoration: underline;
}

