/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set the background color for my page: */

body{
    background-color: #00008B;
    margin: auto;
    max-width: 600px;
    text-align: center;
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    color:rgb(51, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* Hyperlinks */
a:link {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #379683;
  background-color: transparent;
  text-decoration: underline;
}


