/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #ccff00;
    margin: auto;
    max-width: 900px;
    text-align: center;
    overflow: auto;
 }

h1, h3, p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    color:rgb(178,34,34);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.chart{
    background-color: white;
    width:500px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}


/* Hyperlinks */
a:link {
  color: #8B0000;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #0062CC;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #379683;
  background-color: transparent;
  text-decoration: underline;
}

 
