/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set the background color for my page: */

body{
    background-color: #ff1d58;
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    color:rgb(51, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* BUTTONS */

a{
    border: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;

    margin:20px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px dotted #ff1d58;
    background-color: #ff1d58;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:  #ff1d58;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 90px;
    text-decoration: none;
  }

    /* unvisited link */
    a:link {
        color: rgb(255, 255, 255);
        font-variant: small-caps;
        font-family: 'Verdana', sans-serif;
    }
  
    /* visited link */
    a:visited {
        color: rgb(255, 255, 255);
    }
  
    /* mouse over link */
    a:hover {
        text-decoration:underline;
    }

    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(0, 0, 0);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}

.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(0, 0, 0);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}

.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: rgb(0, 0, 0);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}

.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: rgb(0, 0, 0);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}


/* Set the apperance of the class, chart */
.chart{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    
}
    
