/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #ccff00;
      max-width: 600px;
    margin: auto;
    overflow: auto;
}

h1, h3, p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:400px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.grid_items {
    padding: 2px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    max-width: 500px; 
    margin: 0 auto 0 auto;
    padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
